<div class="container">
  <div class="row">
    <div class="col-sm-9">

			<h6><p class="home-p">Nota: Website open-source baseado no treinamento de Ruby On Rails.</p></h6>
			
			<h5><p class="home-p">
			<strong>Observações do desenvolvedor:</strong><br>
				Projeto puramente iniciado pelo aprendizado da linguagem e pelo gosto pelo futebol. Caso seja de bom proveito e diversão, novas funcionalidades serão desenvolvidas.<br>
				Qualquer sugestão/relato de bugs/etc<br>
				Favor entrar em contato pelo e-mail:<br>
				luismarcoceron@gmail.com
			</p></h5>

			<br>
			
			<h4>
				<p class="home-p">
					<strong><%= t('home.begin') %></strong>
				</p>
			</h4>

			<br>

			<h5><p class="home-p">
			<strong>Características:</strong><br>
			1. Participe de competições nacionais e internacionais, dando palpites nos jogos.<br>
			2. Ranking geral de todos usuários.<br>
			<br>
			<strong>Futuras Características:</strong><br>
			1. Monte o seu bolão, e convide seus amigos.<br>
			2. Ranking real das Competições.<br>
			3. Site em Inglês.<br>
			</p></h5>

			<br>


			<h5><p class="home-p">
			<strong>Próximas Competições:</strong><br>
			Mundial de Clubes Fifa 2015 - Japão<br>
			Inscrições até 10 de dezembro às 8:00<br>
			Em breve link para a competição
			</p></h5>

			<br>


			<h5><p class="home-p">
			<strong>Regras:</strong><br>
			* Os palpites podem ser feitos até 10 minutos antes de cada partida;<br>
			* Pontuação:<br>
			- Placar cheio = 100 pontos<br>
			- Acertar vencedor/empate = 70 pontos<br>
			- Acertar gols do vencedor = 30 pontos<br>
			-	Acertar gols do perdedor = 25 pontos<br>
			* Peso das partidas apenas em Copas<br>
			</p></h5>


    </div>
  </div>
</div>

<style type="text/css">
  .home-div{
    background-color:#000000;
  }
  .home-p{
    color:#ffffff;
    align:justify;
  }
</style>
