<br>
<!-- <h4><strong><s%= t('competition.title') %></strong></h4> -->
<div class="layout__form bigform">
<h4><strong>Minhas Competições</strong></h4>
<br>
<!-- <div class="table-responsive"> -->
  <table class="table table-hover">
    <!-- <thead> -->
      <!-- <tr> -->
        <!-- <th class="text-center"><s%= t('competition.name') %></th> -->
        <!-- <th class="text-center"><s%= t('competition.kind') %></th> -->
        <!-- <th class="text-center" colspan="1"><s%= t('layout.options') %></th> -->
      <!-- </tr> -->
    <!-- </thead> -->

    <tbody>
      <% if @pred_predictions.size == 0 %>
        <br>
        <p class="text-center text-muted"><%= t('competition.theres_no') %></p>
      <% else %>
        <% @pred_predictions.includes(:competition).each do |pred_prediction| %>
          <tr>
            <td class="text-center link"><%= link_to pred_prediction.competition.name, pred_prediction %></td>
            <!-- <td class="text-center">TIPO</td> -->
  <!--           <td class="text-center">
              <s%= link_to t('prediction.view'), pred_prediction, class:"btn btn-primary btn-xs" %>
            </td> -->
            <td class="text-center">
              <%= link_to t('button.leave'), pred_prediction, method: :delete, data: { confirm: t('confirmation.sure') }, "data-confirm-fade" => true, "data-confirm-title" => "BBGame", "data-confirm-cancel" => t('button.cancel'), "data-confirm-proceed" => t('button.leave'), class:"btn btn-danger btn-xs" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table><br>
  <div class="text-right">
  <!--   <s%= link_to t('prediction.new'), new_pred_prediction_path, class:"btn btn-primary btn-sm" %> -->
    <%= link_to "Adicionar Nova", new_pred_prediction_path, class:"btn btn-default btn-sm" %>
  </div><br> 
<!-- </div> -->
</div>
