<br>
<!-- <div class="col-lg-8"> -->
  <div class="layout__form bigform">
  	<h4><strong><%= t('prediction.new') %></strong></h4>
	<div align="right">
	  <%= link_to t('competition.my_competitions'), pred_predictions_path, class: "btn btn-default" %>
	</div><br>
    <%= render 'form' %>
  </div>
<!-- </div> -->
<br>
