@import "shadow";

body {
  background: url(bg.jpg) no-repeat center center fixed;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  background: url(bg.jpg) no-repeat center center fixed;
}

.navbar-brand.brand {
  padding: 10px;
  a{
    text-decoration: none;
    color: white;
  }
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    //background-color:rgba(255,255,255,.8);
}

.layout__main {
  top: 60px;
  bottom: 200px;
  padding-bottom:70px;
  position: relative;
}

.layout__form{
  @include shadow(#ccc, 0, 3px, 6px);
  background-color: #ffffff;
  border-radius: 15px 30px 10px 5px;
}

.layout__form.bigform{
  padding: 10px;
}

.layout__form.login{
  padding: 10px;
  border-radius: 15px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
